<header class="header gradient-block-yellow">
    <div class="container">
        <nav class="page-nav">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
                <li><a asp-controller="Home" asp-action="PrivacyPolicy">Политика конфиденциальности</a></li>
                <li><a asp-controller="Home" asp-action="PublicOffer">Договор публичной оферты</a></li>
            </ul>
        </nav>
    </div>
</header>