<header class="footer gradient-block-pink">
    <div class="container">
        <div class="tariffs-block">
            <div class="item-wrapper">
                <h5>Контактные данные</h5>
                <ul>
                    <li>ФИО: <b>Михневич Анна</b></li>
                    <li>Номер телефона: <b>0997656881 / 0682689723</b></li>
                    <li>Telegram: <b>@string.Concat('@', "Annamixnevich")</b></li>
                </ul>
            </div>
            
            <div class="item-wrapper">
                <h5>Способы оплаты</h5>
                <img src="~/img/payment-4.png" alt="Payment" loading="lazy" class="payment-img">
            </div>
            
            <div class="item-wrapper">
                <ul>
                    <li>
                    	<a asp-controller="Home" asp-action="Index">Главная</a>
                    </li>
                    
                    <li>
                    	<a asp-controller="Home" asp-action="PrivacyPolicy">Договор публичной оферты</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>