@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
	string email = Configuration.GetSection("Credentials")["email"];
	string telegram = string.Concat("https://t.me/", Configuration.GetSection("Credentials")["telegramUserName"]);
	string website = Configuration.GetSection("Credentials")["website"];
	string fullPathURl = string.Concat(website, Url.Action("PublicOffer","Home"));
	ViewData["Title"] = "Публичная оферта - Марафон «Wordshop»";
}

@await Html.PartialAsync("_HeaderMenuShort")


<main class="home">

	<section class="section-padding">
		<div class="container">
			<h1>Договор публичной оферты</h1>
            
            <p class="font-italic font-bold">1. Общие положения</p>
            <p>1.1 Эта оферта, согласно Гражданскому Кодексу Украины Статьи 639, является официальным предложением (публичной офертой), далее по тексту - «Предложения», сайта <b>@website</b>, далее - «Исполнитель», заключить Договор купли-продажи товаров дистанционным способом, то есть через Интернет-сайт. Исполнитель размещает публичную оферту на официальном Интернет-сайте Исполнителя.</p>
            <p>1.2. В соответствии со статьями 641, 642 Гражданского Кодекса Украины (ГК Украины) в случае принятия изложенных ниже условий и оплаты услуг юридическое или физическое лицо, производящее акцепт этой оферты становится «Заказчиком» (акцепт оферты равносилен заключению договора на условиях, изложенных в Оферте).</p>
            <p>1.3. Моментом полного и безусловного принятия Покупателем предложения Исполнителя (акцептом) заключить электронный договор купли-продажи товаров, считается факт оплаты Покупателем заказа на условиях настоящей оферты, в сроки и по ценам, указанным на Интернет-сайте Исполнителя.</p>
            <p>1.4. В связи с вышеизложенным, внимательно прочитайте текст данной Оферты, и если вы не согласны с любым пунктом Оферты, Исполнитель предлагает отказаться от пользования Услугами.</p>
            <p class="font-italic font-bold">2. Понятие и определение</p>
            <p>2.1. В этой оферте, если контекст не требует иного, нижеприведенные термины имеют следующие значения:</p>
            <p>2.2. «Услуга» - онлайн-услуга, предоставляемая Исполнителем согласно описанию соответствующей карты Услуги на интернет-сайте.</p>
            <p>2.3. «Интернет-сайт» - в соответствии с Законом Украины «Об электронной коммерции», средство для представления или реализации услуг, работы или товаров путем осуществления электронной сделки.</p>
            <p>2.4. Акцепт - полное, безусловное и безоговорочное принятие Заказчиком условий Договора без каких-либо исключений и / или ограничений и равносильно заключению двустороннего письменного Договора.</p>
            <p>2.5. «Исполнитель» - компания, реализующая услуги, представленные на Интернет-сайте.</p>
            <p>2.6. Заказчик - лицо, совершившее Акцепт условий настоящего Договора и становится Заказчиком услуг Исполнителя по заключенному договору. Заказчиком может быть любое дееспособное физическое лицо, заключившее с Исполнителем Договор на условиях, изложенных в оферте.</p>
            <p>2.7. «Заказ» - выбор отдельных позиций из перечня услуг, указанных Заказчиком при размещении заказа и проведении оплаты.</p>
            <p>2.8. Онлайн-занятия (курс) - это выступление, лекция, речь, которые происходят в режиме реального времени и / или в режиме трансляции их записи с помощью web-технологий путем предоставления Заказчику Персонального ссылки (доступа) на условиях настоящей оферты.</p>
            <p>2.9. Программа - целостная сформирована совокупность онлайн-занятий (вебинаров, тренингов), электронных версий аудио, видео занятий, семинаров, тренингов, курсов, фонограмм, видеограмм, текстовых, аудиовизуальных произведений, связанных между собой и структурированных на определенную тему, доступ к которым предоставляется через сайт или вебсайт для использования Заказчиком.</p>
            <p>2.10. Персональные ссылки - персональный формализованный соответствии со стандартами сети Интернет-запись адреса сайта или его части (вебсайт), что позволяет Заказчику получить доступ к Услуги в сети Интернет.</p>
            <p class="font-italic font-bold">3. Предмет Договора</p>
            <p>3.1. Исполнитель обязуется передать в собственность Заказчика доступ к Услуги на время, определенное на Интернет-странице соответствующей услуги, а Заказчик обязуется оплатить и принять Услугу на условиях настоящей оферты.</p>
			<p>3.2. Эта оферта регулирует куплю-продажу услуги на сайте, в том числе:
				<ul class="offer-list">
					<li>добровольный выбор Заказчиком Услуги на сайте;</li>
					<li>самостоятельное оформление Заказчиком заказа на сайте;</li>
					<li>оплату Заказчиком заказа, оформленного на сайте;</li>
					<li>обработку и предоставление Услуги Заказчику.</li>
				</ul>
			</p>
			<p class="font-italic font-bold">4. Порядок оформления заказа и предоставления услуг</p>
            <p>4.1. Заказчик вправе оформить заказ на любую услугу, представленную на Интернет-сайте.</p>
            <p>4.2. Каждая позиция может быть представлена в заказе в любом количестве.</p>
            <p>4.3. При отсутствии возможности предоставить Услугу, менеджер компании обязан поставить в известность Заказчика (по телефону, вайбером или по электронной почте).</p>
            <p>4.4. При отсутствии услуги, Заказчик имеет право заменить ее услугами, соответствующими по стоимости или отказаться от данной услуги, аннулировать заказ.</p>
            <p>4.5. Заказчик осуществляет оплату Услуг (Программы) одним из выбранных способов, после чего сообщает Исполнителю о проведении оплаты с предоставлением подтверждающих документов на e-mail @email или на <a href="@telegram" class="cursor-pointer">Telegram номера</a>.</p>
            <p>4.6. После получения Исполнителем подтверждения оплаты, Заказчику на электронный адрес, указанный при заполнении заявки на участие в Программе, направляется ссылки.</p>
            <p>4.7. В случае неполучения Заказчиком Персонального ссылки, Заказчик должен обратиться в службу поддержки Исполнителя путем направления письма на электронную почту: @email, по номерам телефонов на Сайте исполнителя или любым другим способом.</p>
            <p>4.8. Персональное ссылка действительна для одного Заказчика, получивший указана ссылка. Запрещается передача Персонального ссылки третьим лицам.</p>
            <p>4.9. Заказчик самостоятельно несет ответственность за сохранение конфиденциальности и безопасности доступа к своему Персонального (Личного) кабинета, вебинаров и других элементов Программы, а также всех действий, совершаемых с помощью Персонального (Личного) кабинета, и обязуется безотлагательно сообщать Исполнителя о любом нарушения безопасности Персонального (Личного) кабинета.</p>
            <p>4.10. Для получения Услуги Заказчик самостоятельно обеспечивает соблюдение надлежащих технических условий для персонального компьютера или другого мобильного устройства.</p>
            <p>4.11. Расписание проведения онлайн-занятий (вебинаров, тренингов) может быть изменен Исполнителем в одностороннем порядке путем размещения такой информации хотя бы одним из способов: оповещение через Viber на указанный Заказчиком контактный номер телефона, размещенные на вебсайте, отправки сообщения на электронный адрес Заказчика и т .п.</p>
            <p>4.12. Во время участия в онлайн-занятиях (вебинарах, тренингах) запрещается разжигание межнациональных конфликтов, унижения других участников, тренера, реклама, нецензурные выражения или иное поведение, нарушающее морально-этические нормы и требования действующего законодательства.</p>
            <p>4.13. Во время участия в онлайн-занятиях (вебинарах, тренингах) запрещается мешать другим участникам и учителю проводить вебинар любым способом. Если подобное поведение будет определена, и учитель и техническая служба вебинарного ресурса подтвердят факт, что действия были сделаны именно этим участником, Исполнитель имеет право первый раз предупредить Заказчика, предоставив факты; на второй раз после такого поведения - оштрафовать такого Заказчика на сумму до 500 грн. На третий раз Исполнитель может аннулировать участие Заказчика в онлайн занятиях (вебинарах, тренингах) без возврата полученной оплаты, в случае нарушения им вышеуказанных правил.</p>
            <p>4.14. Использование Заказчиком полученных информации и материалов (аудио, видео и т.п.) допускается только в личных целях и для личного пользования.</p>
            <p>4.15. Исполнитель вправе отказаться от предоставления услуг в одностороннем порядке и аннулировать доступ Заказчика к выбранной программы в случае установления фактов передачи Заказчиком Персонального ссылки третьим лицам, распространения информации и материалов (аудио, видео и т.д.), полученных в результате получения услуг, третьим лицам.</p>
            <p>4.16. Исполнитель не несет ответственности за невозможность участия Заказчика в онлайн-занятиях (вебинарах, тренингах), возникшая по причинам, независящим от Исполнителя.</p>
            <p class="font-italic font-bold">5. Стоимость услуг и порядок расчетов</p>
            <p>5.1. Стоимость услуги указывается в описании на соответствующей странице интернет-сайта на карточке Услуги, которую Заказчик отправляет в Корзину для расчетов.</p>
            <p>5.2. Заказчик осуществляет оплату услуг на условиях 100% предоплаты.</p>
            <p>5.3. Оплата Услуг Заказчиком означает ознакомление и полное согласие Заказчика с условиями данной оферты.</p>
            <p>5.4. Оплата услуг осуществляется путем перечисления денежных средств на текущий счет Исполнителя. Способы оплаты выбранной Услуги указываются на Сайте или в счета на оплату, которые высылаются Заказчику после заполнения Заявки на Интернет-сайте.</p>
            <p>5.5. Исполнитель вправе в одностороннем порядке изменить стоимость услуг до момента оплаты путем публикации новой цены на интернет-сайте.</p>
            <p>5.6. По договоренности Сторон Заказчику может быть предоставлено право оплачивать Услугу частями.</p>
            <p>5.7. Услуга считается оплаченной с момента зачисления средств на текущий счет Исполнителя.</p>
            <p>5.8. В случае оплаты Услуги частями и невнесения каждой из частей оплаты в срок, Исполнитель имеет право отказать Исполнителю в предоставлении доступа к соответствующей Услуги без возврата уплаченных средств.</p>
			<p>5.9. В случае, если качество услуг по каким-либо причинам является для Заказчика ненадлежащей, Исполнитель предоставляет Заказчику право после первого занятия после старта Программы, доступ к которой был предоставлен в соответствии с условиями настоящей оферты, обратиться к Исполнителю с Заявлением о возврате уплаченных средств.</p>
			<p class="font-italic font-bold">6. Прекращение договора</p>
			<p>6.1. Прекращение Выполнение данной оферты возможно:
				<ul class="offer-list">
					<li>по договоренности сторон;</li>
					<li>временно прервать по инициативе заказчика. В таком случае Стороны подписывают Приложение к настоящему договору, который становится его неотъемлемой частью;</li>
					<li>в случае нарушения Заказчиком обязанностей или условий, предсказания данной офертой.</li>
				</ul>
			</p>
            <p>6.2. При расторжении оферты, в случае оплаты Заказчиком суммы больше СТОИМОСТЬ Фактически проведенных месяцев занятий, исполнитель возвращает Заказчику 100% суммы за месяцы, которые еще не начал.</p>
            <p>6.3. Расторжение оферты одной из сторон не освобождает заказчика от оплаты фактически оказанных услуг.</p>
            <p>6.4. О желании расторгнуть действие оферты Заказчик должен сообщить Исполнителю в письменной форме не менее чем за 15 дней до запланированного последнего занятия.</p>
            <p>6.5. Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по настоящему Договору, если это неисполнение явилось следствием серьезных обстоятельств, которые подтверждены Торгово-промышленной палатой Украины и возникли после вступления в силу настоящего Договора.</p>
            <p class="font-italic font-bold">7. Права и обязанности заказчика</p>
            <p>7.1. Заказчик вправе</p>
            <p>7.1.1. Получить Услуги на условиях настоящей оферты.</p>
            <p>7.1.2. Получить от Исполнителя информацию о предоставленных услуг, условий их предоставления по телефонам, указанным на Сайте, направив соответствующий запрос на электронную почту, указанную на Сайте или через форму обратной связи.</p>
            <p>7.1.3. Входить в онлайн-вебинар под своей учетной записью одновременно только с одной точки доступа (персональный компьютер, ноутбук, нетбук, планшет, смартфон и т. Д.).</p>
            <p>7.1.4. Заказчик пользуется всеми правами потребителя в соответствии с действующим законодательством Украины, регулирующего данные правоотношения.</p>
            <p>7.2. Заказчик обязуется:</p>
            <p>7.2.1. Оплатить Услуги в полном объеме в порядке и в сроки, предусмотренные настоящей офертой.</p>
            <p>7.2.2. Предоставить Исполнителю актуальную информацию о средствах связи для направления информационных материалов, а также для связи Исполнителя с Заказчиком в рамках оказания услуг, согласно этой офертой. Заказчик несет ответственность за достоверность информации.</p>
            <p>7.2.3. Поддерживать в исправном техническом состоянии оборудования и каналы связи, принадлежащих ему и обеспечивают доступ к Сайту, такие как, но не лимитированы списком: компьютер, ноутбук, смартфон, доступ к предоставленного Исполнителю e-mail Заказчика, мобильный сервис, вайбер и т.д.</p>
            <p>7.2.4. Самостоятельно и своевременно знакомиться с информацией о расписании, даты, время, стоимость и условия предоставления услуг, которая предоставляется ему через e-mail, вайбер Персональный кабинет и т.д., размещенная на Интернет-сайте. Заказчик не вправе предъявлять Исполнителю претензии в случае несвоевременного ознакомления либо не ознакомления с информацией на Сайте. Заказчик берет на себя всю ответственность за последствия несвоевременного ознакомления либо не ознакомления с информацией, размещаемой для него Исполнителем на Сайте, в электронных письмах отправленных на e-mail Заказчика.</p>
            <p>7.2.5. Выполнять рекомендации, домашние задания, требования и т.п. Исполнителя, которые сопровождают соответствующую Услугу.</p>
            <p>7.3. Заказчику запрещается:</p>
            <p>7.3.1. Осуществлять в любой форме запись (путем аудио, видеозаписи, загрузки, снимков экрана, фотографирование и других способов хранения информации) онлайн-занятия (вебинара, тренинга), проведенного в рамках предоставления услуг в соответствии с настоящей оферты.</p>
            <p>7.3.2. Копировать, распространять любым способом аудио-, видео-, информационные материалы, записи онлайн-занятия (вебинары, тренинги), полученные в рамках этой оферты.</p>
            <p>7.3.3. Распространять материалы, полученные в рамках этой оферты путем расшифровки (перевод аудио- и видеоматериалов в текстовый формат) или перекладывание на других языках.</p>
            <p>7.3.4. Использовать полученную в рамках данной оферты информацию, материалы в коммерческих целях.</p>
            <p>7.3.5. Использовать полученную от Исполнителя информацию, включая (без ограничений) с целью создания подобной и / или конкурентной услуги или сервиса, или с целью получения коммерческой или финансовой выгоды без предварительного согласования с Исполнителем.</p>
            <p>7.3.6. Осуществлять свою деятельность на основе услуг Исполнителя.</p>
            <p>7.3.7. Допускать распространения неправдивой информации, информации, порочащей честь, достоинство, деловую репутацию Исполнителя, учителей, администраторов, тренеров и других лиц, а также информации, побуждающей и призывает к межнациональной, этнической, половой, расовой нетерпимости, вражды, войны, изменения государственного устройства стран, информации, распространение которой запрещено действующим законодательством Украины и нормами Международного права в зависимости от территории предоставления услуг.</p>
            <p>7.3.8. Передавать и / или предоставлять доступ к Услуги любым третьим лицам, а также получать Услуги совместно с третьими лицами.</p>
			<p class="font-italic font-bold">8. Исполнитель имеет право:</p>
            <p>8.1.1. Самостоятельно определять формы и способы предоставления услуг, учитывая условия данной оферты, других, подписанных с Заказчиком договоров и требования действующего законодательства Украины и условия Договора.</p>
            <p>8.1.2. В одностороннем порядке определить стоимость услуг.</p>
            <p>8.1.3. Самостоятельно определять / изменять даты проведения онлайн-занятий (вебинаров, тренингов).</p>
            <p>8.1.4. Самостоятельно определять / изменять содержание, продолжительность, количество информации в онлайн-занятии (вебинаре, тренинга) в рамках Программы и требованиями Министерства образования и науки Украины, а также функциональные возможности, интерфейс вебсайт в процессе предоставления Услуги.</p>
            <p>8.1.5. Во время проведения онлайн-занятий (вебинаров, тренингов) Программы осуществлять их фотографирования, видео, аудиозапись и использовать их по своему усмотрению. Заказчик дает свое согласие на осуществление Исполнителем этих действий и предоставляет Исполнителю право обнародовать их путем опубликования на Сайте и другим способом, сделать доступными неопределенному кругу лиц, распространять, воспроизводить, редактировать и иным образом использовать фотографии, аудио, видео с изображением и (или) голосом Заказчика.</p>
            <p>8.1.6. Самостоятельно привлечь к оказанию услуг третьих лиц, в том числе тренеров.</p>
            <p>8.1.7. Получать от Заказчика любую информацию, необходимую для выполнения своих обязательств по Договору. В случае непредоставления информации, неполного или неправильного предоставления информации, Исполнитель вправе приостановить предоставление Услуг по Договору к оказанию Заказчиком такой информации.</p>
            <p>8.1.8. Проводить анкетирование, опрос Заказчика, в том числе запрашивать отзывы на полученные услуги, распространять (публиковать или иным образом распространять) результаты анкетирования (опроса) и полученные отзывы на полученные услуги с соблюдением требований законодательства Украины о защите персональных данных.</p>
			<p>8.1.9. Отказаться от предоставления услуг или ограничить доступ Исполнителя к Программе без возврата уплаченных средств в следующих случаях:
				<ul class="offer-list">
            		<li>Предоставление Заказчиком ложной информации.</li>
            		<li>Несоблюдение Заказчиком сроков и порядка оплаты, в случае осуществления оплаты в порядке, предусмотренном п.п. 5.1, 5.2, 5.6, 5.7, 5.8 настоящей оферты.</li>
            		<li>Нарушение Заказчиком п.п. 4.12-14, 6.2, 6.3 оферты.</li>
	            </ul>
			</p>
            <p>8.1.10. Осуществлять массовую рассылку информационных сообщений (в том числе рекламных) на электронный адрес Заказчика. При этом такие сообщения должны содержать ссылки для отказа от рассылки, которая позволяет Заказчику самостоятельно отказаться от получения данной рассылки.</p>
            <p>8.1.11. В одностороннем порядке вносить изменения в условия данной публичной оферты путем размещения ее новой редакции на Сайте.</p>
            <p>8.2. Исполнитель обязуется:</p>
            <p>8.2.1. Предоставить Услуги надлежащего качества в порядке и на условиях, предусмотренных настоящим Договором.</p>
            <p>8.2.1. Хранить информацию и сведения (в том числе персональные данные), полученные от Заказчика на выполнение условий настоящего Договора.</p>
            <p>8.2.1. Предоставлять Заказчику информацию о предоставленных Услуги, условия их предоставления.</p>
            <p>8.2.1. Информировать Заказчика об изменении порядка предоставления услуг (даты, расписания трансляций) путем размещения такой информации в соответствии с п.п. 4.11. данной оферты.</p>
			<p class="font-italic font-bold">9. Ответственность сторон и решению споров</p>
			<p>9.1. В случае возникновения споров по вопросам, предусмотренным настоящим Договором, Стороны примут все меры по решению их Путем переговоров.</p>
            <p>9.2. В случае невозможности решения данного спора Путем переговоров, споры разрешаются в судебном порядке, в соответствии с действующим законодательством Украины.</p>
			<p class="font-italic font-bold">10. Защита персональных данных и конфиденциальной информация</p>
			<p>10.1. Соглашаясь с условиями оферты и принимая его условия, Заказчик предоставляет Исполнителю однозначное согласие на обработку и использование любых персональных данных, ставших известными Исполнителю в результате предоставления услуг на условиях настоящего Договора в соответствии с законодательством Украины в сфере защиты персональных данных.</p>
            <p>10.2. Обработка персональных данных включает, но не ограничивается, сбор, регистрацию, накопление, хранение, адаптирование, изменение, обновление, использование и распространение (распространение, реализацию, передачу), обезличивание, уничтожение персональных данных, обрабатываемых Исполнителем, любым лицом, эт "связанной с Исполнителем отношениями контроля с целью ведения базы персональных данных Заказчиков.</p>
            <p>10.3. Заказчик соглашается, что Исполнитель не должен получать дополнительного согласия Заказчика для передачи персональных данных Заказчика любому лицу, связанному с Исполнителем отношениями контроля или в рамках договорных отношений.</p>
            <p>10.4. Вся информация, которая стала известна Заказчику в связи с получением услуг от Исполнителя по настоящей оферты (в том числе пароли доступа к Программ), является конфиденциальной информацией и коммерческой тайной Исполнителя.</p>
            <p>10.5. Заказчик обязуется не разглашать и не передавать конфиденциальную информацию и коммерческую тайну Исполнителя для ознакомления и / или использования третьим лицам без предварительного письменного согласия Исполнителя.</p>
			<p class="font-italic font-bold">11. Права интеллектуальной собственности</p>
			<p>11.1. Все онлайн-занятия (вебинары, тренинги) в форме выступлений, лекций, выступлений; аудио и видеопрактикы, аудио и видеоуроки, записи онлайн-трансляций в виде аудиовизуальных произведений, фонограмм и видеограмм, фотографические произведения, изображения, статьи и любые другие материалы, полученные Заказчиком на выполнение условий настоящей оферты (далее - Материалы) являются объектами прав интеллектуальной собственности и подлежат защите.</p>
            <p>11.2. Авторские и смежные права на материалы, к которым предоставляется доступ Заказчику принадлежат Исполнителю. Заказчику предоставляется лишь право пользования Материалами исключительно для личных некоммерческих целей, если иное не оговорено специальным договором, отдельно подписанным между Заказчиком и Исполнителем.</p>
			<p>11.3. Запрещается любым способом копирование, воспроизведение, распространение, исполнение, публичное сообщение, демонстрация, показ, использование, перевод, переработка, адаптация и любые подобные изменения Материалов без предварительного письменного согласия Исполнителя.</p>
			<p class="font-italic font-bold">12. Другие условия</p>
            <p>12.1. Предложения вступает в силу с момента Осуществление оплаты заказчиком любой Услуги на сайте и Действует в течение срока прописанного в карточке Услуги на сайте english4it.online до его прекращения на изложенных выше условиях.</p>
            <p>12.2. В случаях, не предусмотренных настоящим Договором, Стороны руководствуются действующим законодательством Украины.</p>
            <p>12.3. Стороны подтверждают полное и однозначное понимание ими предмета и содержания данной оферты, прав и обязанностей каждой стороны, вытекающих или связанных с выполнением оферты, суть терминов, употребляемых в ней, а также соответствие текста оферты намерениям и воли Сторон.</p>
            <p>12.4. Если любое положение (часть) оферты является или становится недействительным по любым основаниям, этот факт не влияет на действительность других положений оферты в целом.</p>
            <p>12.5. Стороны соглашаются, что к отношениям, возникшим между ними на основании настоящей оферты применяется право Украины.</p>
            <p>12.6. Стороны имеют право в любой момент заключить этот договор в форме письменного двухстороннего документа.</p>
            <p>12.7. Изменения условий Договора оформляются дополнительно и вступают в силу после подписания сторонами.</p>
		</div>
	</section>
	
</main>

@await Html.PartialAsync("_FooterSection")