.header.header-admin {
    position: relative;
    border-bottom: 1px solid black;
}

.header.header-admin .page-nav {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 1366px) {
    .header.header-admin .page-nav {
        padding-top: 16px;
    }
}

.home.mt-5 {
    margin-top: 1rem;
}

#tblData tbody {
    text-align: center;
}

#tblData thead tr th {
    vertical-align: middle;
}

.course-start-form {}

.course-start-form__title {
    margin-bottom: 1rem;
}

.course-start-form__data {
    margin-bottom: 1rem;
}

.course-start-form__buttons {}

.btn-primary {
    color: #fff !important;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-success {
    color: #fff !important;
    background-color: #28a745;
    border-color: #28a745;
}

.d-grid {
    display: grid;
    margin-bottom: 1rem;
}

.grid-80 {
    grid-template-columns: 20% 80%;
}

.grid-50 {
    grid-template-columns: 50% 50%;
}

.text-align-center {
    text-align: center;
}

.border-right {
    border-right: 1px dashed black;
}

.tariff-item {
    border: 1px solid red;
    padding: 6px 12px;
    border-radius: 12px;
    margin-bottom: 8px;
}

.tariff-data .tariff-item {
    margin-right: 20px;
}

.all-questions .tariff-item {
    margin-left: 20px;
}

.tariff-item__data-text input {
    width: 100%;
}

.mt-36 {
    margin-top: 36px;
}

.ml-20 {
    margin-left: 20px;
}