.header.header-admin {
    position: relative;
    border-bottom: 1px solid black;
}

.header.header-admin .page-nav {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 1366px) {
    .header.header-admin .page-nav {
        padding-top: 16px;
    }
}

.home.mt-5 {
    margin-top: 1rem;
}

#tblData tbody {
    text-align: center;
}

#tblData thead tr th {
    vertical-align: middle;
}

.course-start-form__title {
    margin-bottom: 1rem;
}

.course-start-form__data {
    margin-bottom: 1rem;
}

.course-start-form__buttons {}

.btn-primary {
    color: #fff !important;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-success {
    color: #fff !important;
    background-color: #28a745;
    border-color: #28a745;
}

.d-grid {
    display: grid;
    margin-bottom: 1rem;
}

.grid-80 {
    grid-template-columns: 20% 80%;
}

.grid-50 {
    grid-template-columns: 50% 50%;
}

.text-align-center {
    text-align: center;
}

.border-right {
    border-right: 1px dashed black;
}

.mt-36 {
    margin-top: 36px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-5 {
    margin-left: 5px;
}


/*  TARIFF SECTION START  */

.tariff-item {
    border: 1px solid red;
    padding: 2px 12px;
    border-radius: 12px;
    margin: 12px 0px;
}

.tariff-right-section .tariff-item {
    margin-left: 20px;
}

.tariff-data .tariff-item {
    margin-right: 20px;
}

.tariff-item__data-text input {
    width: 100%;
}


.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.in-disadvantage p {
    text-decoration: line-through;
}

.in-advantage p {
    border-bottom: 1px dashed #222;
}

.drop {
    background: linear-gradient(#eee, transparent);
    border-radius: 4px;
}

.list-group {
    min-height: 100px;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/*  TARIFF SECTION END  */


/*  DAY INFO START  */
.slider-day-item {
    position: relative;
}

.slider-day-item .slider-action-btn {
    position: absolute;
    bottom: 12px;
}
/*  DAY INFO END  */
