.header.header-admin {
    position: relative;
    border-bottom: 1px solid black;
}

.header.header-admin .page-nav {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 1366px) {
    .header.header-admin .page-nav {
        padding-top: 16px;
    }
}

.home.mt-5 {
    margin-top: 1rem;
}

#tblData tbody {
    text-align: center;
}

#tblData thead tr th {
    vertical-align: middle;
}

.course-start-form {}

.course-start-form__title {
    margin-bottom: 1rem;
}

.course-start-form__data {
    margin-bottom: 1rem;
}

.course-start-form__buttons {}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-success {
    color: #fff !important;
    background-color: #28a745;
    border-color: #28a745;
}