<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Марафон «Wordshop»</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#F3556C">
    <meta name="msapplication-navbutton-color" content="#F3556C">
    <meta name="apple-mobile-web-app-capable" content="#F3556C">
    <link href="~/css/main.css" rel="stylesheet">
    
    <!-- Template Basic Images Start -->
    <link rel="icon" href="~/img/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/favicon/apple-touch-icon-180x180.png">
    <!-- Template Basic Images End -->
</head>

<body>

    @RenderBody()

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/svg4everybody.min.js"></script>
    <script>svg4everybody();</script>

    <script src="~/js/lightslider.min.js"></script>
    <script src="~/js/maskedinput.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/main.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
